<!DOCTYPE html>
<html> 
  <head>
    <title>National Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <style>
      #banner{
        height: 300px;
        width:  100%;
        object-fit: cover;
      }
      
    </style>
    
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="text-center" class="container">
    

    <img class="img-fluid" id="banner" src="https://nationalweblibrary.haythammuhamad.repl.co/static/Banner.jpg"><br><br>

    <input class="form-control" placeholder="Enter title, author or keywords" type="text">
  
    <input onclick="window.location.href='https://nationalweblibrary.haythammuhamad.repl.co/results'" type="submit" class="btn btn-primary" value="Search For Item"><br><br>
      
    <div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary">Login/Register</button>
    <button class="btn btn-secondary">My Account</button>   
    <button class="btn btn-secondary">Request to Purchase Unavailable Item</button>
    </div>
    </div>
    
  </body>

</html>